.headline {
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 134);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.section {
  display: flex;
  flex-direction: column;

  width: 600px;
}
