.headline {
  padding: 5px;
  border-radius: 15px;
  width: 150px;
  text-align: center;
  background-color: yellow;
  color: rgb(0, 0, 134);
  font-family: cursive;
  box-shadow: -4px 5px 13px -6px rgb(0, 70, 124);
}
